done_BackUpThisFolder_ButDontShipItWithYourGame
first_build_BackUpThisFolder_ButDontShipItWithYourGame
first_build_BurstDebugInformation_DoNotShip
Library
Logs
Packages
ProjectSettings
Temp
UserSettings
Export
user.keystore